:root {
  font-size: 20px;
}
body {
  background-image: url(../img/fon2.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  overflow: hidden;
  margin-bottom: 48px;
  margin-top: 49px;
}

.headr__logo {
  background-image: url(../img/logo1.png);
  background-repeat: no-repeat;
  background-position: left;
  color: #fff;
  text-transform: uppercase;
  float: left;
  transition: all 500ms ease-in-out;
}
.headr__logo:hover {
  background-image: url(../img/logo2.png);
  
}
.headr__logo:hover {
  color: #f26522;
}
.headr__logo_milan {
  margin-left: 59px;
  font-size: 1.4rem;
  font-weight: bold;
}
.headr__logo_holidays {
  margin-left: 59px;
  font-size:0.9rem;
  font-weight: bold;
}
.headr__info {
  float: right;
  text-align: right;
  font-size: 1.2rem;
}
main {
  overflow: hidden;
}
.section {
  float: left;
  width: 30%;
}
.section:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}

.section:nth-child(4) {
  margin-top: 98px;
}
.section:nth-child(5) {
  margin-top: 98px;
  margin-left: 5%;
  margin-right: 5%;
}
.section:nth-child(6) {
  margin-top: 98px;
}
.section1 {
  background-image: url(../img/milan1.png);
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
}
.section2 {
  background-image: url(../img/milan2.png);
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
}
.section3 {
  background-image: url(../img/milan3.png);
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
}
.section4 {
  background-image: url(../img/milan4.png);
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
}
.section5 {
  background-image: url(../img/milan5.png);
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
}
.section6 {
  background-image: url(../img/milan6.png);
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
}
.bar {
  position: absolute;
  bottom: -100%;
  width: 100%;
  left: 0;
  background-color: #f26522;
  transition: all 500ms ease-in-out;
  padding-left: 21px;
  padding-bottom: 17px;
  padding-top: 16px;
  padding-right: 18px;
}
.from {
  font-size: 0.65rem;
}
.price {
  float: left;
  font-size: 1.3rem;
  margin-right: 120px;
}
.details {
  float: left;
  font-size: 0.95rem;
}
.details::after {
  content: " >";
  padding-left: 15px;
  color: #f58c59;
  font-weight: bold;
}

.section__text {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}
.section:hover .bar {
  bottom: 0;
}
.section:hover .section__text {
  color: #f26522;
}
.footer__info {
  text-align: center;
  margin-top: 61px;
  font-size: 0.8rem;
}
