:root{
    --font-roboto: 'Roboto' sans-serif;
    font-size: 16px;
}
body{
    width: 1480px;
    padding-left: 100px;
    padding-top: 61px;
    padding-right: 100px;
    padding-bottom: 30px;
}
.logo{
    font-size: 4.1em;
    margin-bottom: 45px;
}
.logo span{
    color: #4bcaff;

}
.menu{
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    text-align: center;
    margin-bottom: 51px;
}
.menu a{
    color: white;
    font-size: 1.5em;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    transition: all 500ms ease;
}
.menu a:hover{
    background-color: #222f3a;
    border-left: 2px solid #818181;
    border-right: 2px solid #818181;
}
.list{
    background-color: white;
    width: 344px;
    height: 399px;
    border: 2px solid black;
    color: #485863;
    font-size: 2em;
    float: left;
    margin-right: 43px;
}
.list li{
    list-style: none;
    margin-bottom: 40px;
    transition: all 1s ease;
    
}
.list li:hover{
    color: black;
    padding-left: 20px;
    font-weight: 500px;
}
.img{
    float: left;
    width: 885px;
    height: 529px;
    border: 2px solid black;
    background-image: url(./img/animal.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
.text{
    float: left;
    width: 820px;
    margin-left: 440px;
    text-align:left;
    word-break: break-all;
    margin-bottom: 51px;
}
.text div:last-child{
    margin-top: 50px;
}

footer{
    clear: both;

}
.foot{
    width: 1280px;
    height: 69px;
    background-color: #35444f;
}
.foot a{
    color: black;
    font-size: 1.8em;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
}
.foot span{
    padding-left: 200px;
    font-size: 1.5em;
}
.foot a:hover{
    color:#3181a6
}