.fon{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
}
.fon:hover{
    background-color: green;
}
.fon:hover::before{
    content: "";
    display: inline-block;
    background-color:blueviolet;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}