@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h2{
    font-size: 1.5rem;
    border-bottom: 1px solid #354657;
    padding-bottom: 18px;

}
.content{
    display: flex;
    justify-content: space-between;
}
.content div input, .content div label{
    font-size: .7rem;
}
.content div label{
    display: inline-block;
    width: 197px;
}
.user{
    margin-bottom: 20px;
}
.user input{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 384px;
    box-sizing: border-box;
}
.btn{
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 206px;
    padding: 20px 0;
    background-color: white;
    color: #946FD3;
    font-weight: bold;
    transition: all 500ms;
    margin:70px 30px 0 0;
}
.btn:active{
    background-color:#946FD3;
    color: white;
    border: white;
}