@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.main{
    display: flex;
}
.order{
    width: 74%;
    font-size: 0.7rem;
    margin-right: 1%;
}
.order li{
    list-style: none;
    margin-bottom: 10px;

}
.order ul{
    padding-left:15px;
}
.menu{
    width: 25%;
}
.dilivery, .infobuyer{
    display: flex;
    justify-content:left;
    flex-basis: 100%;
}
.bg{
    font-size: .8rem;
    font-weight: bold;
    background-color: #F0F2F5;
    padding: 15px;
    text-transform: uppercase;
}
.nonetext{
    padding: 24.5px;
}
.bold{
    font-size: .7rem;
    font-weight: bold;
}

.dilivery__title, .dilivery__title-2, .infobuyer__title, .infobuyer__title-2{
    flex-basis: 50%;
}
.tablefooter{
    width: 100%;
    border-collapse: collapse;
}
.tablefooter td{
    padding: 5px 15px 5px 15px;
}
.bgtable{
    background-color: #F0F2F5;
    text-transform: uppercase;
}
.rightttable{
    text-align: right;
}
.tablebtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tablebtnorder{
    padding: 10px;
    border: 3px solid #946FD3;
    color: #946FD3;
    background-color: white;
    width: 170px;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 10px;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu li{
    list-style-type: none;
    background-color: #F0F2F5;
    overflow: hidden;
}
.menu a{
    display:block;
    padding: 10px;
    text-decoration: none;
    color: #354657;
    font-weight: bold;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #E2E2E2;
    transition: all .5s ease-in-out;
   
}
.menu a:hover{
    color: #946FD3;
}

@media screen and (max-width:850px)
{
    h2{
        width: 85%;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .menu {
        width: 85%;
        order: 1;
        margin-bottom: 20px;
    }
    .order {
        order: 2;
        width: 85%;
        font-size: 0.7rem;
        margin-right: 0;
    }
    
}