html {
  font-size: 20px;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
.headr__logo {
    margin-bottom: 45px;
    margin-left: 101px;

}
.headr__logo a{
    text-decoration: none;
    font-size: 5.3rem;
    color: black;
}
.headr__logo span{
    color:#4bcaff;
}
.headr__menu {
  background-color: #35444f;
  width: 1285px;
  margin-left: 101px;
  margin-bottom: 51px;
}
.headr__menu-list {
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
}
.headr__menu-item {
  float: left;
  list-style-type: none;
  width: 25%;
  text-align: center;
}
.headr__menu a {
  padding-top: 21px;
  padding-bottom: 26px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: all 500ms ease;
}
.headr__menu a:hover {
  background-color: #222f3a;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.main__menu{
    float: left;
    border: 2px solid black;
    margin-left: 101px;
    margin-right: 52px;
    width: 344px;
    overflow: hidden;
}
.main__menu a{
    text-decoration: none;
    color:#54636d;
    font-size: 1.5rem;
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 42px;
    transition: all 500ms ease;
}
.main__menu a:hover{
    background-color: #dbdbdb;
    color: black;
    padding-left: 69px;
}
.main__menu-list{
    list-style-type: none;
}
.main__img{
    float: left;
    width: 885px;
    height: 529px;
    border: 2px solid black;
    background-image: url(./img/animal.png);
    background-repeat: no-repeat;
    background-position: center;
}
.main__text{
    float: left;
    margin-left: 526px;
    margin-top: 50px;
    width: 815px;
}
.main__text .text-one{
    margin-bottom: 30px;
}
.clearflex{
    clear: both;
}
.footer__menu {
    background-color: #35444f;
    width: 1285px;
    margin-left: 101px;
    margin-top: 51px;
    float: left;
  }
  .footer__menu-list {
    margin: 0;
    overflow: hidden;
    width: 75%;
  }
  .footer__menu-item {
    float: left;
    list-style-type: none;
  }
  .footer__menu a {
    padding-top: 20px;
    padding-bottom: 21px;
    padding-right: 20px;
    width: 100%;
    display: inline-block;
    color: white;
    font-size: 1.1rem;
    transition: all 500ms ease;
    text-align: center;
    text-decoration: none;

  }
 .info{
     float: left;
     width: 70%;
     padding-left: 20px;
 }
 .year{
     float: right;
     padding-top: 25px;
     padding-right: 34px;
     font-size: .9rem;
 }
 .footer__menu a:hover{
     text-decoration:underline #4bcaff;
     color: #4bcaff;
 }