@mixin btnHeadr($bgcolor) {
  padding: 10px;
  margin-left: 30px;
  width: 100px;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: $bgcolor;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
@mixin btnmodul($customborder) {
  background-color: #ff6c01;
  display: block;
  border-radius: $customborder;
  border: none;
  color: white;
  font-size: 0.7rem;
}
:root {
  font-size: 20px;
}
.container {
  margin: 0 auto;
  width: 80%;
}

.header__logo {
  @include flex-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .search {
    flex-grow: 2;
    input {
      margin-left: 100px;
      padding: 10px;
      width: 400px;
      border-radius: 3px;
      border: 2px solid #323232;
      padding-left: 30px;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;
      background-position: 5px center;
    }
  }
  .one {
    @include btnHeadr(#ef781a);
  }
  .two {
    @include btnHeadr(#00d008);
  }
}
.headere__titel {
  padding-top: 30px;
  padding-bottom: 20px;
  h1 {
    font-weight: 800;
  }
}
.mainer_bg {
  background-color: #ececec;
}
.mainer {
  @include flex-between;

  .mainer__menu {
    display: flex;
    flex-direction: column;
    width: 70%;

    .bar {
      padding-top: 20px;
      padding-bottom: 30px;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        li {
          list-style-type: none;
          margin-right: 15px;

          a {
            padding: 10px;
            text-decoration: none;
            color: #7b7b7b;
            border-radius: 15px;
            font-size: 1rem;
            transition: all 600ms ease-in-out;
            &:hover {
              background-color: #c4c4c4;
            }
          }
        }
      }
    }
    .choice {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 20px 40px;

      .block {
        background-color: white;
        border-radius: 5px;
        overflow: hidden;


        &:hover .input_like .btnmenu{
          content: "";
          transform: translateX(0);
          
          
        }
        &:hover .input_like .price{
          content: "";
          opacity: 0;
        }

        img {
          width: 100%;
        }

        .text {
          padding: 10px 20px 10px 20px;
          font-size: 0.7rem;
          color: #a2a2a2;

          .uptitle {
            font-size: 0.9rem;
            font-weight: 500;
            color: black;
            margin-bottom: 10px;
          }
        }

        .input_like {
          @include flex-between;
          margin-top: 15px;

          .price{
            z-index: 1;
            font-size: .8rem;
            color: black;
            font-weight: 500;
            align-self:center;
            opacity: 1;
            transition: all 3s ease-out;
          }

          .btnmenu {
            padding: 0px;
            background-color: #ff6c01;
            font-size: 0.7rem;
            font-weight: 700;
            padding: 7px 25px 7px 25px;
            border: none;
            border-radius: 10px;
            z-index: 2;
            transition: all 1.5s linear;
            position: relative;
            left: -50px;
            transform: translateX(-150%);
          }

          .custom-checkbox {
            margin: 0;
            padding-top: 10px;
            span {
              display: inline-flex;
              align-items: center;
              user-select: none;

              &:before {
                content: url("../img/like.svg");
              }
            }

            input {
              position: absolute;
              z-index: -1;
              opacity: 0;

              &:checked + :before {
                content: url("../img/heartgreen.svg");
              }
            }
          }
        }
      }
    }
  }
}
//Model menu
.menu_modal {
  @include flex-between;

  .img_like {
    width: 45%;
    margin-right: 5%;



    .add_like {
      margin-top: 65%;

      .like_modul {
        @include flex-between;
        width: 60%;
        margin-top: 5%;
        padding: 10px;
        box-shadow: 0px 0px 5px black;
        border-radius: 10px;

        .like_modul_text {
          margin-left: 10px;
          font-size: 0.5rem;
        }
      }
    }
  }

  .checkbox_text {
    width: 50%;

    .title_text_up {
      font-weight: 800;
      font-size: 1.2rem;
      margin-bottom: 15px;
      color: black;
    }
    .title_text_sub {
      font-size: 0.7rem;
      font-weight: 500;
      margin-bottom: 25px;
    }
    .heckbox_modul_title {
      font-weight: 800;
      font-size: 0.8rem;
      color: black;
      margin-bottom: 15px;
    }
    .checkbox_modul {
      display: flex;
      flex-direction: column;

      input {
        margin-right: 5px;
      }

      label {
        font-size: 0.8rem;
        color: black;
      }
    }
    .checkbox_modul_btn {
      @include flex-between;
      margin-top: 10%;

      .add_btn_modul {
        @include btnmodul(15px);
        padding: 15px;
        width: 200px;
      }

      .plus_minus {
        @include flex-between;



        .plus_minus_number{
          align-self: center;
        }



        .minus_btn_modul{
          @include btnmodul(50%);
          width: 50px;
          height: 50px;
          margin-left: 5px
        }

        .plus_btn_modul{
          @include btnmodul(50%);
          width: 50px;
          height: 50px;
          margin-right: 5px;

        }
      }
    }
  }
}
