img {
  border-radius: 20%;
}
#slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  width: 500px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}
.showing {
  opacity: 1;
  z-index: 2;
}
#button {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.button {
  background-color: blue;
  padding: 15px;
  color: red;
  border-radius: 25%;
  width: 100px;
}
#left_or_right {
  display: flex;
  width: 500px;
  justify-content: space-around;
}
.left {
  color: chartreuse;
  border-radius: 50%;
}
.right {
  color: chartreuse;
  border-radius: 50%;
}
