@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.container {
  margin: 0 auto;
  width: 90%;
}
h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 18px;
}
.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.sort label {
  font-size: 0.8rem;
}
.sort select {
  padding: 10px 70px 10px 10px;
}
.mainer {
  display: flex;
  justify-content: space-between;
}
.menu {
  border: 3px solid #eee8f8;
  width: 34%;
  margin-right: 1%;
  height: 40%;
  padding: 20px;
}
.menu__reset {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.reset {
  background-color: #946fd3;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.menu details {
  margin-top: 50px;
}
.menu details:nth-child(1) {
  margin-top: 25px;
}
.menu summary {
  font-size: 0.8rem;
  font-weight: bold;
}
.column {
  display: flex;
  flex-direction: column;
}
.column label {
  margin-top: 21px;
  font-size: 0.8rem;
}
.column label input {
  margin-right: 10px;
}
summary{
    display: flex;
    justify-content: space-between;
}
details summary::-webkit-details-marker{
    display: none;
}
summary::after{
    content: url("../img/svg.svg");
    
}
details[open] > summary::after{
    content: url("../img/minus.svg");
}
/*
::marker {
  content: url("../img/svg.svg");
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px;
  text-align: end;
  text-align-last: start;
}


details[open]>summary::marker{
    content: url("../img/minus.svg");
    unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px;
  text-align: end;
  text-align-last: start;
}

summary{
    direction: rtl;
}
.menu__subtitle-1{
    margin-right: 68%;
    display: inline-block;
}
.menu__subtitle-2{
    margin-right: 60%;
    display: inline-block;
}
.menu__subtitle-3{
    margin-right: 54%;
    display: inline-block;
}
*/
.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 28px 28px;
  width: 65%;
}
.table > div {
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 15px 10px 25px 10px;
}
.name {
  margin-top: 28px;
}
.price {
  margin-top: 26px;
}
.futterbtn{
    display: flex;
    justify-content: center;
    margin-top: 75px;

}
.futterbtn input{
    background-color: white;
    border: 2px solid #946FD3;
    padding: 15px;
    border-radius: 25px;
    width: 205px;
    color: #946FD3;
}
@media screen and (max-width:850px){
    .sort{
        justify-content: flex-start;
    }
    .mainer{
        flex-direction: column;
    }
    .menu{
        width: 94%;
        margin-bottom: 25px;
        margin-right: 0;
        border: 2px solid #eee8f8;
    }
    .table{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 28px 28px;
        width: 100%;
    }
}
    