div{
    color:green;

}
P{
color:blue;
}
.black{
    background-color: black;
}
.red{
    min-width: 500px;
    max-width: 800px;
    height: 800px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: chartreuse;
}