body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
/*Перввый блок: круг,текс, фигуры*/
.div1{
    width: 750px;
    height: 235px;
    background-color:#2d7053;
    position: relative;

}
.circle{
    width: 141px;
    height: 141px;
    background-color: white;
    border-radius: 50%;
    top: 47px;
    left: 38px;
    position: absolute;
}
.text{
    width: 131px;
    height: 134px;
    position: absolute;
    top: 52px;
    left: 237px;
    font-size: 2em;
    font-weight:lighter;
    color: white;
    text-align: left;

}
.rectange1{
    width: 84px;
    height: 12px;
    background-color: white;
    border-radius: 20px;
    position:absolute;
    top: 84px;
    left: 622px;
}
.rectange2{
    width: 84px;
    height: 12px;
    background-color: white;
    border-radius: 20px;
    position:absolute;
    top: 112px;
    left: 622px;
}
.rectange3{
    width: 84px;
    height: 12px;
    background-color: white;
    border-radius: 20px;
    position:absolute;
    top: 140px;
    left: 622px;
}
/*Второй блок: изображение фон, кнопка*/
.div2{
    width: 750px;
    height: 466px;
    background-image: url(./img/0325115cfca2f08bd19529e1d4a4396a@1X.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}
.fon2{
    width:750px;
    height:467px;
    background-image: url(./img/фон2.png);
    position: absolute;
    left: 9px;
    bottom:22px;
}
.button1{
    background-color: #cb9223;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    position: absolute;
    left: 205px;
    bottom: 47px;
    width: 341px;
    height: 74px;
    padding: 29px 44px;
    font-size: 1.2em;
}
/*Третий блок:основная информация, фотография,кнопка */
.div3{
    width: 750px;
    height: 1026px;
    background-color: #ffffff;
    position: relative;

}
.foto{
    width: 247px;
    height: 247px;
    background-image: url(./img/foto.png);
    border-radius: 50%;
    position: absolute;
    left: 44px; 
    top: 73px;
}
.name1{
    width: 210px;
    height: 27px;
    font-size: 2em;
    position: absolute;
    left: 366px;
    top: 134px;
    text-align: left;
}
.name{
    width: 245px;
    height: 50px;
    font-size: 1.5em;
    position: absolute;
    left: 364px;
    top:190px;
    text-align: left;

}
.text2{
    width: 590px;
    height: 166px;
    font-size: 1.4em;
    text-align: left;
    position: absolute;
    left:44px;
    top:380px;
    text-align: left;

}
.list1{
    width: 545px;
    height: 32px;
    font-size: 2em;
    position: absolute;
    top: 592px;
    left: 44px;
    text-align: left;
}
.list{
    width: 256px;
    height: 256px;
    font-size: 1.4em;
    position: absolute;
    top: 667px;
    list-style-type: none;
    text-align: left;
}
.list li:before{
    content: "-";
}
.button2{
    background-color: #cb9223;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    position: absolute;
    left: 218px;
    bottom: 50px;
    width: 341px;
    height: 74px;
    padding: 28px 44px;
    font-size: 1.2em;
}
/*Подвал: круг, контакты*/
.div4{
    width: 750px;
    height: 153px;
    background-color: #888888;
    position:relative;
    font-size: 1em;
    

}
.circle2{
    width: 96px;
    height: 96px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left:45px;
    top: 29px;
}
.number{
    width:136px;
    height:15;
    position: absolute;
    left: 570px;
    top: 56px;
    text-decoration: none;
    color: white;
}
.street{
    width: 199px;
    height: 17px;
    position: absolute;
    left: 325px;
    top: 102px;
    text-decoration: none;
    color: white;
}
.mail{
    width: 144px;
    height: 17px;
    position: absolute;
    left: 562px;
    top: 98px;
    text-decoration: none;
    color: white;
}