body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1920px;
    margin: 0 auto;
    font-size: 16px;
}
.head1{
    background-color: #ba0000;
    color: white;
    min-height: 50px;
}
.language{
    float: left;
    margin-left: 375px;
    margin-top: 17px;


}
.contact{
    float: left;
    margin-left: 819px;
    margin-top: 17px;
}
.country{
    float: left;
    margin-left: 30px;
    margin-top: 17px;
}

.head2{
    background-color: #ffcc00;
    color: red;
    width: 1920px;
    min-height: 120px;
}
.img{
    float: left;
    margin-left: 375px;
    margin-top: 39px;
}
.menu{
    float: left;
    margin-left: 124px;
    margin-top: 35px;
    
}
li{
    display: inline;
    margin: 15px;
    font-weight: bold;
}
.circle{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 35px;
    margin-left: 208px;
    background-color:#ba0000;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px rgb(181, 0, 0,0.5);
    text-align: center;
    line-height: 50px;
}
.fon{
    background-image: url(./img/Layer\ 3@1X.png);
    min-height:800px ;
    min-width: 1920px;
    box-shadow:inset 650px -200px  400px 10px rgb(181, 0, 0,0.9);
    display:inline-block;
}
.text{
    color: #ffcc00;
    margin-top: 179px;
    margin-left: 375px;
    font-size: 1.5em;
}
.hr1{
    border-bottom: 4px solid yellow;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.diliver{
    font-size: 3em;
    color: white;

}
.list2{
    margin-left: 320px;
    margin-top: 50px;
    color:white ;
    font-size: 1.2em;
    font-weight: bold;
}
.button{
    margin-top: 50px;
}
.button1{
    background-color: #ffcc00;
    box-shadow:2px 2px 5px 1px rgb(254, 217, 0, 0.5);
    color: #ba0000;
    width: 150px;
    padding:21px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    margin-left: 370px;
}
.button2{
    background-color: transparent;
    background-repeat: no-repeat;
    color:white;
    width: 192px;
    padding:21px;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 30px;
    margin-left: 25px;
}
.fon2{
    background-color: white;
    min-height:700px;
    display: inline-block;
}
.fon3{
    color: #ba0000;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    background-image: url(./img/Services@1X\ \(1\).png);
    background-repeat: no-repeat;
    width: 752px;
    height: 109px;
    margin-left: 375px;
    margin-top: 100px;
    padding:25px;
}
.blok1{
    margin-left: 375px;
    margin-top: 40px;
    float: left;
}
.blok2{
    margin-left:30px;
    margin-top: 40px;
    float: left;
}
.blok3{
    margin-left: 30px;
    margin-top: 40px;
    float: left;
}
.text2{
    font-size: 1.2em;
    margin-top: 10px;
}
.red{
    font-size: 1.5em;
    font-weight: bold;
    color:#ba0000;
    

}
.black{
    font-size: 1.2em;
    font-weight: bold;
    color:black ;
   margin-top: 10px;

}
.blok4{
    margin-left: 30px;
    margin-top: 40px;
    float: left;
    background-color: #ba0000;
    width: 270px;
    height: 339px;
}
.text3{
    color: white;
    margin-top: 25px;
    margin-left: 31px;
    font-size: 1.2em;

}
.dhi{
    font-size: 1.3em;
    font-weight: bold;

}
.hr2{
    border-bottom: 4px solid yellow;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button3{
    background-color: #ffcc00;
    box-shadow:2px 2px 5px 1px rgb(254, 217, 0, 0.5);
    color:white;
    width: 210px;
    padding:21px;
    font-size: 1em;
    border: none;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 30px;


}
.button4{
    background-color: #ffcc00;
    box-shadow:2px 2px 5px 1px rgb(254, 217, 0, 0.5);
    color: #ba0000;
    width: 150px;
    padding:21px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.fon4{
    height: 700px;
    background-image:url(./img/Layer\ 6@1X.png);
    box-shadow: inset 0px -200px 100px 0px rgb(255, 220, 0, 0.5);
    background-repeat: no-repeat;

}
.fon5{
    background-image: url(./img/фон2.png);
    height: 700px;
    width: 1920px;
    display: inline-block;
   
}
.text4{
    color: white;
    font-size: 4em;
    margin-top: 150px;
    margin-left: 322px;
    font-weight: bold;
}
.circle2{
    width: 70px;
    height: 70px;
    margin-top: 50px;
    margin-left: 925px;
    background-color:#ffcc00;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px rgb(255, 220, 0, 0.5);
    text-align: center;
    line-height: 70px;
}
.img2{
    width: 370px;
    height: 200px;
    margin-left: 375px;
    margin-top: 155px;
    float: left;
}
.img3{
    width: 370px;
    height: 200px;
    margin-left: 30px;
    margin-top: 155px;
    float: left;

}
.img4{
    width: 370px;
    height: 200px;
    margin-left: 30px;
    margin-top: 155px;
    float: left;
}
.fon6{
    background-color: white;
    height: 900px;
    display: inline-block;
}
.li{
    display: block;
    color: grey;
}
.list3{
    font-size: 1em;
    list-style-type: none;
    text-align: left;
}
.list3 li:before{
    content: "▹";
}
.roud{
    float: left;
    width: 370px;
    height: 209px;
    background-color: rgb(235, 230, 255);
    margin-left: 375px;
    box-shadow:2px 2px 5px 1px rgb(0, 1, 1,0.5);
}
.roud1{
    float: left;
    width: 370px;
    height: 209px;
    background-color: rgb(235, 230, 255);
    margin-left: 30px;
    box-shadow:2px 2px 5px 1px rgb(0, 1, 1,0.5);
}
.roud2{
    float: left;
    width: 370px;
    height: 209px;
    background-color: rgb(235, 230, 255);
    margin-left: 30px;
    box-shadow:2px 2px 5px 1px rgb(0, 1, 1,0.5);
}
.texthead{
    margin-top: 10px;
    margin-left: 50px;
    color: #ba0000;
    font-size: 2em;
    font-weight: bold;

}
.fon7{
    width: 570px;
    height: 533px;
    background-color:  #ba0000;
    margin-top: 100px;
    margin-left: 375px;
    float: left;
}
.butt1{
    width: 50%;
    background-color:  #ba0000;
    border: none;
    float:left;
    font-size: 1.5em;
    color: white;
    padding: 10px;


}
.butt2{
    width: 50%;
    background-color:  #ecc513;
    border: none;
    float: left;
    font-size: 1.5em;
    color: #ba0000;
    padding: 10px;
}
.butt3{
    background-color: transparent;
    background-repeat: no-repeat;
    color:white;
    width: 489px;
    padding:15px;
    font-size: 1em;
    border: 2px solid white;
    margin-left: 40px;
    margin-top: 45px;
}
.butt4{
    background-color: transparent;
    background-repeat: no-repeat;
    color:white;
    width: 489px;
    padding:15px;
    font-size: 1em;
    border: 2px solid white;
    margin-left: 40px;
    margin-top: 45px;
}
.butt5{
    background-color: transparent;
    background-repeat: no-repeat;
    color:white;
    width: 489px;
    padding:15px;
    font-size: 1em;
    border: 2px solid white;
    margin-left: 40px;
    margin-top: 45px;
}
.butt6{
    background-color: #ecc513;
    color: #ba0000;
    width: 489px;
    padding:15px;
    font-size: 1.5em;
    border-radius: 25px;
    margin-left: 40px;
    margin-top: 85px;
    border: none;
}
.fon8{
    width: 410px;
    height: 460px;
    background-color:white;
    border: 25px solid rgb(254, 202, 18);
    float:left;
    margin-left: 130px;
    margin-top: 98px;
}
.fon9{
    width: 435px;
    height: 485px;
    background-image: url(./img/57921d563ccc8@1X.png);
    margin-top: 25px;
    margin-left: 25px;
    box-shadow:inset 0px -150px  100px 0px rgb(254, 202, 18, 1)
}
.logo1{
    width: 156px;
    height: 50px;
    padding-top: 435px;

}
.fonn{
    height: 350px;
    background-color: #ba0000;
}
.textfoot{
    float: left;
    font-size: 1.5em;
    color: gainsboro;
    margin-left: 374px;
    margin-top: 100px;
}
.textfoot1{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;

}
.butto{
    background-color: #ffcc00;
    box-shadow:2px 2px 5px 1px rgb(254, 217, 0, 0.5);
    color: #ba0000;
    width: 150px;
    padding:21px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    margin-left:280px;
    margin-top: 150px;
    margin-right:170px;
    float: left;

}
.foot{
    height: 311px;
    background-color: white;
}
.footimg1{
    background-image: url(./img/imgfoot.png);
    width: 375px;
    height: 311px;
    float: left;
}
.footlis{
    float: left;
    margin-left: 25px;
    margin-top: 61px;
}
.footlis1{
    display: block;
}
.footup{
    font-size: 2em;
    color: #ba0000;
    margin-bottom: 40px;
    margin-left: 50px;

}
.footlis0{
    font-size: 1em;
    list-style-type: none;
    text-align: left;

}
.footlis0 li:before{
    content: "▷";
}
.footlis2{
    margin-left: 25px;
    margin-top: 59px;
    float: left;
}
.footlis3{
    margin-left: 25px;
    margin-top: 59px;
    float: left;

}
.footimg2{
    background-image: url(./img/imgfoot1.png);
    width: 375px;
    height: 311px;
    float: left;
    margin-left: 67px;
}