@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
:root {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
h3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.banner {
  background-image: url("../img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1\ \(1\).png");
  background-size: cover;
  height: 600px;
  color: white;
}
.banner__content {
  width: 65%;
  padding-top: 100px;
  animation: animationbanner 4s linear 1;
}
.banner__content-title {
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 30px;
  line-height: 55px;
}
.banner__content-subtitle {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info__block-1,
.info__block-2,
.info__block-3 {
  width: 32%;
  background-color: white;
}
.info__block-1:hover .bg {
  animation: animationblock 4s cubic-bezier(0, 0.99, 1, -0.01);
  animation-fill-mode: forwards;
}
.info__block-2:hover .bg {
  animation: animationblock 4s cubic-bezier(0, 0.99, 1, -0.01);
  animation-fill-mode: forwards;
}
.info__block-3:hover .bg {
  animation: animationblock 4s cubic-bezier(0, 0.99, 1, -0.01);
  animation-fill-mode: forwards;
}
.info__block-1 .bg {
  background-image: url("../img/block1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 216px;
}
.info__block-2 .bg {
  background-image: url("../img/block2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 216px;
}
.info__block-3 .bg {
  background-image: url("../img/block3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 216px;
}
.info a {
  text-decoration: none;
  color: #946fd3;
  background-color: white;
  border: 1px solid #946fd3;
  border-radius: 50px;
  padding: 10px 0 10px 0;
  width: 70%;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  font-size: 0.6rem;
}
.content {
  padding: 17px 20px 31px 25px;
}
.info__block-1:hover .content  {
  background-color: #946fd3;
  color: white;
}
.info__block-2:hover .content {
  background-color: #946fd3;
  color: white;
}
.info__block-3:hover .content {
  background-color: #946fd3;
  color: white;
}
.text {
  font-size: 0.6rem;
}
.text div:nth-child(1) {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 15px;
}
.info__block-1:hover .text {
  animation: animationtext 9.5s cubic-bezier(.1,.63,.82,.27);
}
.info__block-2:hover .text {
  animation: animationtext 9.5s cubic-bezier(.1,.63,.82,.27);
}
.info__block-3:hover .text {
  animation: animationtext 9.5s cubic-bezier(.1,.63,.82,.27);
}

.info__block-1:hover a {
  background-color: #946fd3;
  color: white;
  border: 1px solid white;
}
.info__block-2:hover a {
  background-color: #946fd3;
  color: white;
  border: 1px solid white;
}
.info__block-3:hover a {
  background-color: #946fd3;
  color: white;
  border: 1px solid white;
}
.footerbg {
  background-color: #f0e6ff;
  height: 269px;
  margin-top: 75px;
}
.footermine {
  display: flex;
}
.footerimg {
  display: flex;
}
.footertext {
  margin-top: 40px;
  animation: animationtextfooter 4s linear;
}
.footerimg1 {
  left: 5px;
  top: 35px;
  position: relative;
  animation: animationimg1 4s infinite;
}
.footerimg2{
  left: -90px;
  top: -60px;
  position: relative;
  animation: animationimg2 4s infinite;
}
.footertext div:nth-child(1) {
  font-size: 1rem;
  font-weight: 700;
  color: #946fd3;
  text-transform: uppercase;
}
.footertext div:nth-child(2) {
  font-size: 1.9rem;
  font-weight: 700;
  color: #354657;
  margin-bottom: 15px;
}
.footertext div:nth-child(3) a {
  text-decoration: none;
  padding: 12px 35px 12px 35px;
  background-color: #946fd3;
  color: white;
  border-radius: 20px;
  font-size: 0.8rem;
}
@keyframes animationblock {
  from {
    transform: rotateY(0deg);
  }
 
  to {transform: rotateY(180deg);
  }
}
@keyframes animationtext {
  from {
    transform: rotateY(0deg);
  }
  40%{
    transform: rotateY(180deg)

  }
  45%{
    transform: rotateY(180deg);

  }
  50%{
    transform: rotateY(180deg);

  }
  55%{
    transform: rotateY(180deg);

  }
  60%{
    transform: rotateY(180deg);

  }
  to {
    transform: rotateY(360deg);
  }
  
}

@keyframes animationtextfooter {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animationimg1 {
    from {
    }
    to {
      transform: rotate(-360deg)
    }
  }
@keyframes animationimg2 {
  from {
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes animationbanner {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
