@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    font-size: 20px;
    font-family:'Raleway', sans-serif;
}
body{
    margin: 0;
    color: #354657;
}
.container{
    margin:0 auto;
    width: 85%;
}
.main{
    display:flex;
    margin-top: 40px;
}
.menu{
    width: 35%;
    margin-right: 30px;
}
.product{
    width: 65%;
}
h2{
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 17px;
    font-size: 1.5rem;
}
h3{
    font-size: 1rem;
    margin: 0 0 20px 0;
}
/*Menu*/
.hello{
    background-color: #F0F2F5;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
}
.info{
    background-color: #F0F2F5;
    padding: 20px;
    font-size: .7rem;

}
.info label{
    display:block;
    margin-top: 20px;
}
.info input{
    display:block;
    margin-top: 10px;
    width: 89%;
    padding: 11px 20px;
}
.info__delivery{
    margin-top: 20px;
}
/*Product*/
.product__deliver{
    background-color: #F0F2F5;
    padding: 20px;
    margin-bottom: 30px;
    font-size: .8rem;
}
.product__price{
    background-color: #F0F2F5;
    padding: 20px;
    font-size: .8rem;
    margin-bottom: 30px;
}
/*Table*/
.table-list{
    width: 100%;
    text-transform: uppercase;
    border-collapse: collapse;
    font-size: .7rem;
}
.table-list td{
    padding: 10px;
    text-align: left;
}
.table-list td div{
    display: flex;
    flex-direction: row;
    justify-content:space-between; 

}
.numbers{
    width: 26px;
    height: 26px;
}
.gray-ligt{
    background-color: #F0F2F5;
    font-weight: bold;
}
.tdbold{
    font-weight: bold;
    text-align: right !important;
}
.product__pay{
    background-color: #F0F2F5;
    margin-top: 30px;
    padding: 20px;
    font-size: .7rem;
}
.product__pay label{
    font-size: .8rem;
}
.btpurpe{
    color: white;
    font-weight: bold;
    background-color: #946FD3;
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    border: none;
}
.btcheckbox-pay{
    margin-top: 15px;
}
.btpurpe-pay{
    display: flex;
    justify-content: flex-end;
    margin-top: 29px;
}

.btpurpe:active {
    background-color: white;
    color: #946FD3;
    border: 1px solid #946FD3;
}
::placeholder {
    color: #ADA8A8;
    font-size: 14px;
}
.comments{
    padding: 10px;
    max-width: 95%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
    outline: none;

}
.radiocastom{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radiocastom+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.radiocastom+label::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #946FD3;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
}
.radiocastom:checked+label::before{
    background-image: url("../img/Ellipse\ 10.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}
.radiocustom-1{
    margin-right:15px ;
}
.radiocustom-1>input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radiocustom-1>span{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.radiocustom-1>span::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #946FD3;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
}
.radiocustom-1>input:checked + span::before{
    background-image: url("../img/Ellipse\ 10.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}
/*
.input{
    display: none;
}
.radiocastom::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #946FD3;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
}
.radiocastom::before input:checked {
    background-color: red;


}
*/
@media screen and (max-width:850px) {
    .main{
        display:flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .menu{
        width: 100%;
        margin-right: 30px;
    }
    .product{
        width: 100%;
    }
    
}