html{
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}
body{
    margin:0;
}
table {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    color: #484848;
}
td{
    padding: 20px;
    border-right: solid 2px #e3e3e3;
    width: 25%;
}
a {
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.05rem;
    font-weight: bold;
}
.plan{
    font-size: 1.2rem;
    font-weight: bold;
}
.text1{
    font-size: 1.2rem;

}
.text2{
    font-size: 2rem;

}
.fon-green{
    background-color: #89c331;
    color: #fff;
    
}
.fon-red{
    background-color: #f04a56;
    color: #fff;
    
}
.fon-blue{
    background-color: #20807c;
    color: #fff;
    
}
.fon-grey{
    background-color:#484848 ;
    color: white;
}
.pricing td{
    text-align: left;
}
.price {
    font-weight: bold;
    font-size: 4rem;
    position: relative;
}

.price::after {
    content: 'Per Month';
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
    left: -35px;
    top: -5px;
    width: 100%;
}

.super {
    font-size: 1.6rem;
    vertical-align: super;
}
.grey-dark{
    background-color: #f2f2f2;

}
.grey-light{
    background-color: #e3e3e3;

}
.storage::before{
    content: url(../img/Storage.png);
    position: relative;
    left: -10px;
    
}
.bandwidth::before{
    content: url(../img/bandwidth.png);
    position: relative;
    left: -10px;
}
.email::before{
    content: url(../img/Email.png);
    position: relative;
    left: -10px;
}
.support::before{
    content: url(../img/support.png);
    position: relative;
    left: -10px;

}
.products::before{
    content: url(../img/products.png);
    position: relative;
    left: -10px;

}
.users::before{
    content: url(../img/users.png);
    position: relative;
    left: -10px;

}
.button{
    padding-top: 50px;
    padding-bottom: 50px;
}
.bt1{
    box-shadow: #404040 0px 10px;
}
.bt2{
    box-shadow: #79b027 0px 10px;
}
.bt3{
    box-shadow: #df3a46 0px 10px;
}
.bt4{
    box-shadow: #16736f 0px 10px;
    
}