:root {
  font-size: 20px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__logo .search {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.header__logo .search input {
  margin-left: 100px;
  padding: 10px;
  width: 400px;
  border-radius: 3px;
  border: 2px solid #323232;
  padding-left: 30px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
}
.header__logo .one {
  padding: 10px;
  margin-left: 30px;
  width: 100px;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #ef781a;
}
.header__logo .two {
  padding: 10px;
  margin-left: 30px;
  width: 100px;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: #00d008;
}

.headere__titel {
  padding-top: 30px;
  padding-bottom: 20px;
}
.headere__titel h1 {
  font-weight: 800;
}

.mainer_bg {
  background-color: #ececec;
}

.mainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainer .mainer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}
.mainer .mainer__menu .bar {
  padding-top: 20px;
  padding-bottom: 30px;
}
.mainer .mainer__menu .bar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.mainer .mainer__menu .bar ul li {
  list-style-type: none;
  margin-right: 15px;
}
.mainer .mainer__menu .bar ul li a {
  padding: 10px;
  text-decoration: none;
  color: #7b7b7b;
  border-radius: 15px;
  font-size: 1rem;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.mainer .mainer__menu .bar ul li a:hover {
  background-color: #c4c4c4;
}
.mainer .mainer__menu .choice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px 40px;
}
.mainer .mainer__menu .choice > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.mainer .mainer__menu .choice > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.mainer .mainer__menu .choice > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.mainer .mainer__menu .choice > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.mainer .mainer__menu .choice > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.mainer .mainer__menu .choice > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.mainer .mainer__menu .choice > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.mainer .mainer__menu .choice > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.mainer .mainer__menu .choice > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.mainer .mainer__menu .choice .block {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.mainer .mainer__menu .choice .block:hover .input_like .btnmenu {
  content: "";
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mainer .mainer__menu .choice .block:hover .input_like .price {
  content: "";
  opacity: 0;
}
.mainer .mainer__menu .choice .block img {
  width: 100%;
}
.mainer .mainer__menu .choice .block .text {
  padding: 10px 20px 10px 20px;
  font-size: 0.7rem;
  color: #a2a2a2;
}
.mainer .mainer__menu .choice .block .text .uptitle {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}
.mainer .mainer__menu .choice .block .input_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.mainer .mainer__menu .choice .block .input_like .price {
  z-index: 1;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 1;
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out;
}
.mainer .mainer__menu .choice .block .input_like .btnmenu {
  padding: 0px;
  background-color: #ff6c01;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 7px 25px 7px 25px;
  border: none;
  border-radius: 10px;
  z-index: 2;
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
  position: relative;
  left: -50px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}
.mainer .mainer__menu .choice .block .input_like .custom-checkbox {
  margin: 0;
  padding-top: 10px;
}
.mainer .mainer__menu .choice .block .input_like .custom-checkbox span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.mainer .mainer__menu .choice .block .input_like .custom-checkbox span:before {
  content: url("../img/like.svg");
}
.mainer .mainer__menu .choice .block .input_like .custom-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.mainer .mainer__menu .choice .block .input_like .custom-checkbox input:checked + :before {
  content: url("../img/heartgreen.svg");
}

.menu_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_modal .img_like {
  width: 45%;
  margin-right: 5%;
}
.menu_modal .img_like .add_like {
  margin-top: 65%;
}
.menu_modal .img_like .add_like .like_modul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin-top: 5%;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  border-radius: 10px;
}
.menu_modal .img_like .add_like .like_modul .like_modul_text {
  margin-left: 10px;
  font-size: 0.5rem;
}
.menu_modal .checkbox_text {
  width: 50%;
}
.menu_modal .checkbox_text .title_text_up {
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: black;
}
.menu_modal .checkbox_text .title_text_sub {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 25px;
}
.menu_modal .checkbox_text .heckbox_modul_title {
  font-weight: 800;
  font-size: 0.8rem;
  color: black;
  margin-bottom: 15px;
}
.menu_modal .checkbox_text .checkbox_modul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu_modal .checkbox_text .checkbox_modul input {
  margin-right: 5px;
}
.menu_modal .checkbox_text .checkbox_modul label {
  font-size: 0.8rem;
  color: black;
}
.menu_modal .checkbox_text .checkbox_modul_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10%;
}
.menu_modal .checkbox_text .checkbox_modul_btn .add_btn_modul {
  background-color: #ff6c01;
  display: block;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 0.7rem;
  padding: 15px;
  width: 200px;
}
.menu_modal .checkbox_text .checkbox_modul_btn .plus_minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_modal .checkbox_text .checkbox_modul_btn .plus_minus .plus_minus_number {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.menu_modal .checkbox_text .checkbox_modul_btn .plus_minus .minus_btn_modul {
  background-color: #ff6c01;
  display: block;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 0.7rem;
  width: 50px;
  height: 50px;
  margin-left: 5px;
}
.menu_modal .checkbox_text .checkbox_modul_btn .plus_minus .plus_btn_modul {
  background-color: #ff6c01;
  display: block;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 0.7rem;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}