html{
    font-size: 20px;
}

body, ul, li{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
}
.headr__menu{
    width: 70%;
    overflow: hidden;
    margin: 0 avto;
    box-shadow: 0 5px black;
}
.headr__menu-team{
    text-transform: uppercase;
    float: left;
    list-style: none;
    width: 25%;
    text-align: center;
}
.headr__menu a{
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0;
    text-decoration: none;
    color:#54b9a6
}
